@media (max-width: 1000px) and (max-width: 1500px) {
  .header {
    width: 100%;
  }

  .content-word {
    padding: 8rem;
  }

  .work-image {
    margin-left: 5px;
    width: 25%;
  }

  .work-image img {
    padding: 8px 8px;
    width: 100%;
  }

  .columns {
    width: 70%;
    margin-left: 80px;
  }
}

@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
    width: 100%;
  }

  .content-logo {
    margin-left: 7rem;
  }

  html {
    scroll-behavior: smooth;
    width: 100%;
  }

  .header {
    width: 100%;
    list-style: none;
    height: 59px;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    top: 0px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .header-nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    max-width: 100%;
    background-color: black;
    flex-direction: column;
    list-style-type: none;
    display: block;
    transform: translateX(-100%);
  }

  .header-nav-link {
    margin-top: 5rem;
    width: 100%;
    margin-left: 1rem;
    float: left;
    font-size: 25px;
  }

  .header-nav-link a {
    color: #fff;
  }

  .button-close a i {
    margin-top: 0;
    color: white;
  }

  .nav_bar-button {
    display: block;
    margin-left: 2rem;
  }

  .header-nav {
    display: none;
  }

  .content-word {
    padding-left: 2rem;
  }

  .header-nav ul li {
    margin-left: 20px;
    padding: 22px;
  }

  .about {
    width: 100%;
  }

  .content-img img {
    width: 100%;
    height: 75rem;
  }

  .content-word span {
    font-size: 70px;
  }

  .pricing-content {
    padding-top: 135px;
    padding-bottom: 47px;
  }

  .team-person {
    flex-direction: column;
    align-items: center;
    margin: 0%;
  }

  .team-member {
    width: 50%;
  }

  /* .header ul li {

    } */

  .design {
    height: 42rem;
  }

  .design-content {
    transform: translate(20px, 123px);
    width: 50%;
  }
  /* .design-content p {
  } */

  .design-img img {
    width: 105%;
    margin-top: 4rem;
    padding: 0;
    margin-left: 1rem;
  }

  .number-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
  }

  .contact-image img {
    width: 95%;
  }

  .contact-image {
    width: 96%;
  }

  .work-image {
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0px 20%;
  }

  .skill-container {
    float: left;
    height: auto;
    margin-top: -7px;
  }

  .work-container {
    margin-bottom: 20px;
  }

  .columns {
    width: 40%;
  }

  .columns {
    flex-direction: column;
    height: auto;
    width: 64%;
  }

  .pricing-container {
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: block;
  }

  /* .content-img img{
        
    } */

  body {
    flex-direction: column;
    padding-top: 60px;
  }

  .about-feature {
    flex-direction: column;
    text-align: center;
  }

  .design {
    width: 100%;
  }

  .team-person {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 60%;
  }

  .number-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 4rem;
    text-align: center;
  }

  .work-image {
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0px 20%;
  }

  .skill-container {
    float: left;
    height: auto;
    margin-top: -7px;
  }

  .columns {
    flex-direction: column;
    height: auto;
    width: 64%;
  }

  .pricing-container {
    height: auto;
  }

  .contact-image img {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  body {
    flex-direction: column;
  }

  .design-img img {
    width: 485px;
    margin: 90px 55px;
  }

  .about-feature {
    flex-direction: column;
    text-align: center;
  }

  .design {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .team-person {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 60%;
  }

  .number-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
  }

  .contact-image img {
    width: 0%;
  }

  .work-image {
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0px 20%;
  }

  .skill-container {
    float: left;
    height: auto;
    margin-top: -7px;
  }

  .columns-content {
    height: auto;
    width: 32%;
  }

  .pricing-container {
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  html {
    width: 100%;
  }

  body {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  .about-feature {
    flex-direction: column;
    text-align: center;
  }

  .design {
    flex-direction: column;
    width: 100%;
  }

  .content-img img {
    width: 100%;
  }

  .team-person {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 60%;
  }

  .number-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
  }

  .work-image {
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0px 20%;
  }

  .team-member-button {
    width: 10%;
  }

  .skill-container {
    flex-direction: column;
    height: auto;
    margin-top: -7px;
    padding-bottom: 20px;
  }

  .chart-container {
    width: 85%;
    margin-left: 40px;
  }

  .column {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .skill-chart {
    margin-left: 0px;
    margin-left: 0px;
    width: 100%;
  }

  .skill-chart i {
    margin-top: 15px;
    margin-left: 45px;
  }

  .skill-content p {
    width: 200%;
    justify-content: space-between;
  }

  .team-member-button {
    width: 88%;
  }

  .design-img img {
    transform: translate(-46px, 60px);
    width: 450px;
  }

  .pricing-container {
    height: auto;
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .columns-content {
    width: 100%;
    margin-left: 50px;
  }

  .table-pricing {
    flex-direction: column;
  }

  .contact-image {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  body {
    flex-direction: column;
    width: 100%;
  }

  .header-nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    max-width: 100%;
    background-color: black;
    flex-direction: column;
    list-style-type: none;
  }

  .header-nav-link {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .header-nav-link a {
    color: #fff;
  }

  .content-img img {
    width: 100%;
    height: 75rem;
  }

  .content-word span {
    font-size: 50px;
  }

  .content-word {
    margin: 20px;
    padding: 0;
  }

  .content-logo {
    margin-left: 3rem;
  }

  .about-feature {
    flex-direction: column;
    text-align: center;
  }

  .design {
    flex-direction: column;
    width: 100%;
  }

  .team-person {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 75%;
  }

  .number-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
    width: auto;
  }

  .work-image {
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0px 20%;
  }

  .team-member-button {
    width: 10%;
  }

  .skill-container {
    flex-direction: column;
    height: auto;
    margin-top: -7px;
    padding-bottom: 20px;
  }

  .chart-container {
    width: 85%;
    margin-left: 40px;
  }

  .column {
    flex-direction: column;
    height: auto;
    width: 20%;
  }

  .pricing-container {
    height: auto;
  }

  .skill-chart {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
  }

  .skill-content p {
    width: 180%;
    justify-content: space-between;
  }

  .team-member-button {
    width: 88%;
  }

  .design-img {
    width: auto;
  }

  .design-img img {
    margin: 10rem 0px;
    padding: 0px;
    width: 90%;
    transform: translate(15px, 70px);
  }

  .contact-form .contact-text {
    width: 85%;
  }

  .columns-content {
    width: 85%;
  }

  .contact-image img {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .content-img img {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  .about-feature {
    flex-direction: column;
    text-align: center;
  }

  .design {
    flex-direction: column;
    width: 100%;
  }

  .team-person {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .team-member {
    width: 90%;
    margin-left: 0;
  }

  .number-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
    text-align: center;
  }

  .number-block {
    width: 100%;
  }

  .work-image {
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 0px 20%;
  }

  .skill-container {
    float: left;
    height: auto;
    margin-top: -7px;
  }

  .column {
    flex-direction: column;
    height: auto;
    width: 20%;
  }

  .pricing-container {
    height: auto;
  }

  .team-member-button {
    width: 90%;
  }

  .contact-image img {
    width: 90%;
  }
}
